src/main/mule/jinkins-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9566725c-2f76-483b-90d8-6bacbc147819" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jinkins-deploymentFlow" doc:id="66954adb-534c-4ea7-9aea-601b3cfd3cef" >
		<http:listener doc:name="Listener" doc:id="405cabca-7e13-4b70-90e3-57d19027e0c5" config-ref="HTTP_Listener_config" path="/jinkins"/>
		<set-payload value="#['deployement using jinkins']" doc:name="Set Payload" doc:id="f3347cff-e745-4b63-af57-3423fb1af6c8" />
	</flow>
</mule>
